.header {
  background-color: #151515;
}
.header-main {
  background-color: transparent;
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
}
.header__inner {
  padding-top: 40px;
  padding-bottom: 45px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.menu__btn{
	width: 30px;
	height: 20px;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	padding: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.menu__btn span {
	height: 4px;
	width: 100%;
	background-color: #fff;
}

.menu__list {
  display: flex;
  gap: 35px;
}

.menu__list-link {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

.menu__list-link--active{
	color: #0066FF;
}